.hero {
  width:100%;
  margin-bottom: 20px;
  background-color: #dddddd;
  padding-bottom: 20px;
}

.news {
  background-color: #dddddd;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
}

.allNews {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.button {
  border-color: #000000;
  border-style: solid;
  color: black;
  font-family: "roboto";
  padding:8px;
  margin-left: 10px;
}

img {
  max-width:100%;
}

h1 {
  font-family: "Blanka";
  margin-left: 60px;
  font-size: 60px;
}

h2 {
  font-family: "Roboto slab";
  font-size:40px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-family: "roboto slab";
  font-size:20px;
  padding-left: 10px;
  padding-right: 10px;
}
